<!DOCTYPE html>
<html>
<head>
  <title>iCompute grader schools</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-light shadow fixed-top">
	<div class="container">
		<a class="navbar-brand" href="#">iCompute</a>
		<div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
          <li class="nav-item">Welcome <%= locals.graderName %></li>
        </ul>
			<ul class="navbar-nav ml-auto">
				<li class="nav-item"><a class="btn btn-link" href="/graderLogin" role="button">Logout</a></li>
			</ul>
		</div>
	</div>
</nav>
<div class="container pt-5">
	<div class="row justify-content-end">
		<div class="col-4 pt-4">
			<h1 class="font-weight-light text-right"> </h1>
		</div>
	</div>
</div>

<!-- Body -->
<body>
<div class="container">
  <div class="row" align="center">
    <div class="col">
      <br>
      <h2>Download Scratch Files and Enter Score</h2>
    </div>
  </div>
  <br>
  <form align="center" method="post" action="/graderDownloadScratch">
  <div class="row m-3 form-group" align="center">
    <div class="col-4">
      <select class="form-control" id="grade" name="grade" onchange="getSchool(this.value)">
        <option value="grade" disabled selected >Grade</option>
        <option value="4">4th</option>
        <option value="5">5th</option>
      </select>
    </div>
    <div class="col-5">
      <select class="form-control" id="school" name="school">
        <option value="school" disabled="disabled" selected="selected">School</option>
      </select>
    </div>
    <div class="col-3">
      <button class="btn btn-primary" onclick="">Download Scratch File</button>
    </div>
  </form>
  </div>
  <br><br><br>
  <div class="" align="center">

  </div>
</div>

  

  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <!-- Optional JavaScript -->
  
  <script>
    function getSchool(value) {
      var schools
      var schOptions = "<option disabled selected>School</option>";
      //alert(value.length)
      if (value.length == 0) 
        document.getElementById("school").innerHTML = "<option disabled selected>School</option>";
      else{
        //alert("<%= result4th[0].school %>");
        
        var grade = document.getElementById("grade");
        
        if(value==4)
        {
          <% for(var i=0; i<result4th.length; i++) { %>
              schOptions += "<option name='school'>"+"<%= result4th[i].school %>"+"</option>";
          <% } %>
        }
        else
        {
          <% for(var i=0; i<result5th.length; i++) { %>
              schOptions += "<option name='school'>"+"<%= result5th[i].school %>"+"</option>";
          <% } %>
        }
        
        document.getElementById("school").innerHTML = schOptions;
      }
    }
    
  // window.onload = function () {
  //   get('/getTeams', {})
  //   .then (function (response) {
  //     return response.json()
  //     .then (function (data) {
  //       $('#team_dd').prepend('<option value="" disabled="disabled" selected="selected">Select</option>')
  //       for (var key=0, size=data.length; key<size; key += 1) {
  //         $("#team_dd").append(new Option(data[key].year + " : " + data[key].school +', grade '+ data[key].grade, data[key].team_id));
  //       }
  //     })
  //   })
  // }

  // function getScores(objButton) {
  //   var dd = document.getElementById('team_dd');
  //   var t_id = dd.options[dd.selectedIndex].value;

  //   post('/getScores', {'t_id': t_id})
  //   .then (function (response) {
  //     return response.json()
  //     .then (function (data) {
  //       var r = new Array(), j = -1;
  //       r[++j] = '<thead><tr><th>Question</th><th>Answer</th><th>Score</th></tr></thead><tbody>';
  //       for(var key=0, size=data.length; key<size; key++) {
  //         r[++j] = '<tr><td>';
  //         r[++j] = data[key].question;
  //         r[++j] = '</td><td>';
  //         r[++j] = data[key].answer;
  //         r[++j] = '</td><td>';
  //         r[++j] = parseInt(data[key].score);
  //         r[++j] = '</td></tr></tbody>';
  //       }
  //       $('#tableOfScores').html(r.join(''));
  //     });
  //   });
  // }
  </script>
  </body>
</html>
