<!DOCTYPE html>
<html>
   <style>

        h1 {
            text-align:left;
            padding-left:2em;
            color:orange;
            background-color:black;
            font-size: 3cm;
            margin-top: 0%;
        }
        h2{
            text-decoration-style: solid;
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-size: 1cm;
        }
        body{
     background: url(/images/website-design-background-1.jpg) repeat-x fixed;
     background-size: cover;
   }
        select{
            text-align:center;
            font-size:100%;
            width: 25%;

        }
        .dropbtn {
  background-color:grey;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin-top:1.5em;
  margin-right: 3em;

}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color:orange;
}
form{
    background-color:darkgray;
    margin-top: 4em;
    margin-bottom: 4em;
    margin-left: 25em;
    margin-right: 25em;
    padding-top:130px;
    padding-bottom:130px;
}

#username{
    width: 50%;
    align: center;
    padding: 4px;
    margin: 0 auto;
}


#password{
    width: 50%;
    align: center;
    padding: 4px;
    margin: 0 auto;
}
          </style>
           <head>
          <title>icompute</title>
          <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
          <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

          <script>
            window.onload=function(){
            var i=0; var previous_hash = window.location.hash;
            var x = setInterval(function(){
              i++; window.location.hash = "/noop/" + i;
              if (i==10){clearInterval(x);
                window.location.hash = previous_hash;}
            },10);}

          </script>


        </head>
    <body>
            <h1><b><I>icompute</I></b></h1>

             <form align="center" method="post" action="/checkSup">
                <% if(message===undefined || message!='Login information incorrect') { var message='' } %>
                <h2>Supervisor login</h2><br/>
                <% if(message!='') { %>
                <label><font color="red"><%= message %></font></label><br>
                <% } %>
                <br><input type="text" name="username" placeholder="Username">
                <br><br><input type="password" name="password" placeholder="password" >
                <br><br>
                <p id="result"></p>
                <button class="btn btn-success mx-5">Login</button>
            </form>
    </body>
</html>
