<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Bootstrap Tutorial</title>
  </head>
  <style>
	.white{
		color=white;
		font-weight:bold;
	}
	.navbar-nav > li > a {padding-top:5px !important; padding-bottom:5px !important;}
	.navbar {min-height:32px !important}
  </style>
  <body>
  
  <nav class="navbar navbar-expand-lg navbar-light bg-light shadow fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">iCompute</a>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><a class="nav-link" href="/teamLogin">logout</a></li>
        </ul>
      </div>
    </div>
  </nav>

	<!--<nav class="navbar navbar-dark navbar-expand-lg bg-dark">
	  
	</nav>-->
  
	<!--Jumbotron-->
	<div class="jumbotron text-center">
		<div class="container">
    <br><br>
		<h1>Welcome to iCompute</h1><br>
		<p>An event for 4th and 5th graders in WESO <br><br> Student's basic knowledge is tested in <i>Computing basics, Theoretical computing and Practical computing</i></p>
		<br>
		<a href="#" class="btn btn-primary">Read more</a>
		</div>
	</div>
  
	<br><br>
	<!--Buttons-->

	<div class="row m-5">
    <div class="col-4">
      <a class="btn btn-block btn-info btn-lg" href="/mcqTest" role="button">Multiple Choice Questions (MCQ)</a>
    </div>
    <div class="col-4">
      <a class="btn btn-block btn-secondary btn-lg" role="button">Short Answer Questions (SA)</a>
    </div>
    <div class="col-4">
      <a class="btn btn-block btn-secondary btn-lg" role="button">Scratch Question</a>
    </div>
	</div>
	
  
	
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>