h2{
  text-decoration-style: solid;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1cm;
}
select{
  text-align:center;
  font-size:100%;
  width: 25%;
}
.dropbtn {
  background-color:grey;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin-top:1.5em;
  margin-right: 3em;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  background-color:orange;
}

.navbar-default .navbar-brand {
  text-decoration-style: solid;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: .5cm;
  color: gray;
}
.navbar-default .navbar-nav .dropdown {
  height: 38px;
}
