body {
	height: 100vh;
	min-height: 500px;
	background-image: url('https://source.unsplash.com/BtbjCFUvBXs/1920x1080');
	background-size: cover;
	background-position: center;
	background-repeat: repeat;
}

a.btn {
  font-size: 80%;
  letter-spacing: 0.1rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s;
}

.card-signin {
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card-signin .card-body {
  padding: 2rem;
}

.form-signin {
  width: 100%;
}

.form-signin .btn {
  font-size: 80%;
  letter-spacing: 0.1rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s;
}